<div class="container p-4">
    <div class="row">
        {{#each plataform}}
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <img src="{{Imagen_URL}}" alt="" class="img-fluid">
                    <h3 class="card-title text-uppercase">
                        {{Titulo}}
                    </h3>
                    <p class="m-2">{{Descripcion}}</p>
                    <a href="" class="btn btn-danger">Eliminar plataforma</a>
                    <a href="" class="btn btn-secondary">Editar</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>